.search  {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28;
    background: #f6f6f6;
}

.search-input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin-left: 14px;
}